<br /><br /><hr />
<h4>Previous Order Criterium</h4>
<div class="control-group">
  <%= f.label :minimum_previous_orders_amount, class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :minimum_previous_orders_amount, class: 'input-xlarge', placeholder: 'Total Amount of Previous Orders', size: 46 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :number_of_minimum_orders_quantity, class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :number_of_minimum_orders_quantity, class: 'input-xlarge', placeholder: 'Total Quantity of Previous Orders', size: 46 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :number_of_minimum_orders, class: 'control-label' %>
  <div class="controls">
    <%= f.number_field :number_of_minimum_orders, class: 'input-xlarge', placeholder: 'Number of Previous Orders', size: 46 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :orders_from, class: 'control-label' %>
  <div class="controls">
    <%= f.datetime_field :orders_from, class: 'input-xlarge', placeholder: 'Consider orders from', size: 46 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :orders_till, class: 'control-label' %>
  <div class="controls">
    <%= f.datetime_field :orders_till, class: 'input-xlarge', placeholder: 'Consider orders till', size: 46 %>
  </div>
</div>
<br /><br /><hr />
