<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="<%= root_path %>" class="brand">
        <img id="bootstrapTourStep1" src="<%= I18n.t('site.logo_path') %>" width="120" height="40" alt="Logo" />
        <!-- This is website logo -->
      </a>
      <!-- Navigation button, visible on small resolution -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="icon-menu"></i>
      </button>
      <!-- Main navigation -->
      <div class="nav-collapse collapse pull-right">
        <ul class="nav" id="top-navigation">
          <% if controller_name == 'home' && action_name.to_s == 'index' %>
            <li class="<%= 'active' if controller_name == 'home'  && action_name.to_s == 'index' %>"><a href="#home">Home</a></li>
          <% else %>
            <li class="<%= 'active' if controller_name == 'home'  && action_name.to_s == 'index' %>"><%= link_to 'Home', root_path + '#home' %></li>
          <% end %>
          <% if controller_name == 'home'  && action_name.to_s == 'index' %>
            <li><a id="bootstrapTourStep2" href="#candyProducts">Our Candies</a></li>
          <% else %>
            <li><%= link_to 'Our Candies', root_path + '#candyProducts' %></li>
          <% end %>
          <!-- UDIT UNCOMMENT LATER <li><a href="#about">About</a></li> -->
          <!-- <% if controller_name == 'home'  && action_name.to_s == 'index' %>
            <li><a href="#subscriptions">Subscription</a></li>
          <% else %>
            <li><%# link_to 'Subscription', root_path + '#subscriptions' %></li>
          <% end %>
          -->
          <% if controller_name == 'home'  && action_name.to_s == 'index' %>
            <li><a href="#contact">Contact</a></li>
          <% else %>
            <li><%= link_to 'Contact', root_path + '#contact' %></li>
          <% end %>
          <!-- <li><%= link_to 'Our Blog', blog_posts_path %></li> -->
          <% if nobody_logged_in? %>
            <li style="cursor: pointer"><a type="button" data-toggle="modal" data-target="#loginModal">Login</a></li>
            <li style="cursor: pointer"><a type="button" data-toggle="modal" data-target="#registrationModal">Register</a></li>
          <% else %>
            <% if @user.admin? %>
              <li><%= link_to 'Admin', orders_path %></li>
            <% end %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <li>
              <!-- Single button -->
              <div class="btn-group">
                <a type="button" data-toggle="dropdown" aria-expanded="false">
                  <%= image_tag('account.png', size: '28x28', title: "My Account", style: 'margin-top: 13px', data: { toggle: "tooltip", placement: "bottom" }) %>
                </a>
                <ul class="dropdown-menu account-menu-drop-down" role="menu">
                  <li><%= link_to 'My Orders', users_orders_path %></li>
                  <!-- UDIT UNCOMMENT LATER <li><%# link_to 'My Subscriptions', users_subscriptions_path %></li>-->
                  <li><%= link_to 'My Refunds', users_refunds_path %></li>
                  <li><%= link_to 'Change My Password', edit_user_registration_path %></li>
                </ul>
              </div>
            </li>
          <% end %>
          <li>
            <!-- Shopping Cart -->
            <%= render partial: 'theme/shopping_cart_in_navigation', locals: { cart: @cart } %>
            <!-- Shopping Cart END -->
          </li>
        </ul>
      </div>
      <!-- End main navigation -->
    </div>
  </div>
</div>