
<!-- Order Form start -->
<div class="section third-section" id="checkoutForm">
  <%= render 'shared_user_form/error' %>
  <div class="container newsletter">
    <div class="sub-section">
      <div class="title clearfix">
        <div class="pull-left">
          <h3>Please provide following details to complete the process</h3>
        </div>
      </div>
    </div>

    <div id="success-subscribe" class="alert alert-success invisible">
      <strong>Congratulations!</strong>Your subscription has been successfully created.
    </div>
    <!-- ************************************************************************************************ -->
    <%= form_for(@user, url: create_subscriptions_path(plan_id: @plan.id), method: :post) do |f| %>
      <%= render partial: 'shared_user_form/user_form', locals: { f: f } %>
      <div class="row-fluid">
        <div class="span5">
          <p>Your Subscription Plan Details</p>
        </div>
        <div class="span7">
          <%= f.hidden_field :plan_id, value: @plan.id %>
          <%= render 'details' %>
        </div>
      </div>
      <%= f.submit 'Confirm My Subscription', class: 'button button-sp btn-block' %>
    <% end %>
    <!-- ************************************************************************************************ -->
  </div>
</div>
<!-- Order Form end -->
