<!-- Modal -->
<div class="modal fade hidden special-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" id="myModalLabel">LOGIN TO EXPLORE CANDY WORLD</h4>
      </div>
 
      <div class="modal-body">
        <br />
        <%= form_for(User.new, url: user_session_path, remote: true) do |f| %>
          <div class="input-prepend">
            <%= f.email_field :email, class: 'span4', placeholder: 'Email Address*', required: true, data: { pattern: 'email' }, title: 'Please provide a valid email address.' %>
            <span rel="popover" data-content="Valid examples: abc@xyz.com<br />Invalid examples: ab @xy.com, abc@xyz, abc@xyz.co" data-animation="true" data-original-title="Email Instructions"><i class="icon-question-sign"></i></span>
          </div>
          <br />
          <div class="input-prepend">
            <%= f.password_field :password, autocomplete: "off", class: 'span4', placeholder: 'Password*', data: { pattern: 'password' } %>
            <span rel="popover" data-content="Must have atleast 8 characters" data-animation="true" data-original-title="Password Instructions"><i class="icon-question-sign"></i></span>
          </div>
            
          <br /><%= link_to "Forgot your password?", new_user_password_path, class: "modal-link-body" %>
      </div>

      <div class="modal-footer">
        <a href="#" class="switchable modal-link-bottom" style="">Not a member? Register here</a>
        <%= f.submit 'Login', class: 'button button-sp' %>
        <% end %>
      </div>

    </div>
  </div>
</div>