<!-- Start user orders section -->
<div class="section secondary-section" id="myOrders">
  <div class="section third-section" id="checkoutForm" style="min-height: 530px;">
    <div class="container">
      <h2>Your Account Settings (<%= @user.email %>)</h2>
      <hr />
        <div class="special-dark-form-element-container">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <% f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Your Old Password *', class: 'special-dark-form-block-element special-dark-form-element ' %>
            </div>
            <br />

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <% f.label :password %>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Your New Password *', class: 'special-dark-form-block-element special-dark-form-element ' %>
            </div>

            <div class="field">
              <% f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password *', class: 'special-dark-form-block-element special-dark-form-element ' %>
            </div>

            <div class="actions">
              <%= f.submit "Reset My Password", class: 'btn-block button button-sp' %>
            </div>
          <% end %>

        </div>

    </div>
  </div>
</div>
<!-- End user orders section -->
